@import '../../styles/vars';

.card {
    width: 30%;
    &:not(:nth-child(3n+3)) {
        margin-right: 5%;
    }
    background: #FFFFFF;
    cursor: pointer;
    transition: $anim;
    &:hover {
        background: rgb(236 242 245 / 41%);
    }
}
  
.card__img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.card__category {
    font-weight: 700;
    font-size: 0.8125rem;
    color: #EB0028;
    padding-bottom: 1rem;
}

.card__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding-bottom: 1rem;
}

.card__info {
    font-size: 0.75rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    span:not(:last-child) {
        padding-right: 0.8125rem;
        position: relative;
        &::after {
        content: '';
        width: 0.1875rem;
        height: 0.1875rem;
        border-radius: 50%;
        background: #D7D7D7;
        position: absolute;
        top: 50%;
        right: 0.3125rem;
        transform: translateY(-50%);
        }
    }
    span:not(:first-child) {
        padding-right: 0.8125rem;
        color: #9B9B9B;
    }
}

.card__summary {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #929292;
}

@media (max-width: 1024px) {
    .card {
        width: 32%;
        &:not(:nth-child(3n+3)) {
            margin-right: 2%;
        }
    }

    .card__title {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-bottom: 0.75rem;
    }

    .card__category {
        font-size: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .card__info {
        padding-bottom: 0.75rem;
    }

    .card__summary {
        font-size: .75rem;
        line-height: 1rem;
    }
}

@media (max-width: 768px) {

    .card {
        width: 48%;
        &:not(:nth-child(3n+3)) {
            margin-right: 0;
        }
        &:not(:nth-child(2n+2)) {
            margin-right: 2%;
        }
    }
}

@media (max-width: 576px) {

    .card {
        width: 100%;
        &:not(:nth-child(2n+2)) {
            margin-right: 0;
        }
    }
}


@media (max-width: 360px) {

    .card__title {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
}